<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="alert alert-success flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    <main class="container d-flex w-100 h-100 p-3 mb-100 flex-column">
      {% block contenido %}
      {% endblock %}
    </main>
    
</body>
</html>